<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Document</title>
</head>

<body>
	<header>
		<h1>Create a Post</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/live">Live Chat</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/live" method="POST">
			<input type="text" name="title" /><br />
			<textarea name="body"></textarea><br />
			<input type="submit" value="Post" />
		</form>
	</main>
</body>

</html>

